
.checkoutInfo {
    max-width: 800px;
    margin: 0 auto;
  }

  .checkoutHeader {
    text-align: center;
    margin: 2rem 0 3rem;
}
.mainHeading {
    font-size: 2.5rem;
    color: #e9e2e2 ;
    font-weight: 600;
    letter-spacing: -0.025em;
}
  .formSection .sectionHeading {
    font-size: 1.75rem;
    color: #cfc5c5;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    }
  
  .checkoutForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .formSection {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .sectionHeading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .formRow {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .twoColumns {
    gap: 3rem;
  }
  
  .threeColumns {
    gap: 3rem;
  }
  
  .inputGroup {
    flex: 1;
  }
  
  .inputLabel {
    display: block;
    margin-bottom: 0.5rem;
    color: rgb(192, 169, 169);
    font-size: 0.9rem;
  }
  
  .formInput {
    width: 100%;
    padding: 0.8rem;
    border: 0.1px solid #a79c9c;
    border-radius: 4px;
    font-size: 1rem;
    color: #f7f7f7;
    background-color: #01031D;
  }
  
  .formInput:focus {
    outline: none;
    border-color: #0066cc;
    box-shadow: 0 0 0 2px rgba(0,102,204,0.1);
  }

  .formInput:-webkit-autofill {
    -webkit-text-fill-color: #ffffff; 
    -webkit-box-shadow: 0 0 0px 1000px #01031D inset; 
    border: 1px solid #e2e8f0; 
  }

  .formActions {
    display: flex;
    justify-content: center;
  }
  
  .primaryButton {
    font-family: inherit;
    font-weight:600;
    padding:  1.2rem 2.7rem;
    margin-bottom: 2rem;
    background-color: #4ea8de;
    color: white;
    border: none;
    border-radius: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .primaryButton:hover {
    background-color: #3b95cc; 
  }
  
  .primaryButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.5);
  }
  
  .primaryButton:active {
    background-color: #2b6cb0;
  }


  
  @media (max-width: 768px) {
    .formRow {
      flex-direction: column;
    }
    
    .twoColumns,
    .threeColumns {
      gap: 1rem;
    }
  }