/* Reset & Base Styles */

@font-face {
  font-family: Popins;
  src: url(/src/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(/src/fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #000110;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
main {
  width: 70vw;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #1345e9;
  color: white;
  font-family: Popins, sans-serif;
  width: 100%;
}

.navContainer {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex: 1;
}

.tickets {
  list-style: none;
}

.mainNav {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
}

.mainNav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.logoImg {
  width: 230px;
  height: auto;
}

#smallLogo {
  width: 150px;
  height: auto;
}

.navigation li a:hover {
  color: gold;
}

.tickets li a {
  background-color: gold;
  color: black;
  padding: 2rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navigation .tickets a:hover {
  color: black;
  background-color: #cce6ff;
}

/* Footer */
footer {
  background-color: #004a99; /* Darker blue */
  color: white;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

footer img {
  height: 60px;
  margin-bottom: 1rem;
}

footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  color: #aad4ff;
}

footer p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}
