.heroBanner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heroContent {
  position: absolute;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bigLogoContainer {
  width: 40%;
  justify-content: center;
  display: flex;
  align-items: center;
}

#bigLogo {
  width: 100%;
  height: 70%;
}

h1 {
  padding: 0;
  padding-bottom: 2rem;
  margin: 0;
  font-weight: 400;
  color: gold;
  font-size: 3rem;
}

#bigTitle {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 5rem;
}

.shortBulletPoints {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.shortBulletPoints p {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  color: gold;
  margin-right: 0;
}

.longBulletPoints #date {
  font-size: 2rem;
  font-weight: 450;
  margin: 0;
  padding: 0;
}

.longBulletPoints #place {
  font-size: 1.5rem;
  font-weight: 450;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

.longBulletPoints #startDate {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

#downArrow {
  width: 3rem;
  height: 3rem;
  transition: transform 0.4s ease;
}

#downArrow:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.heroButton {
  background-color: gold;
  padding: 1.2rem;
  width: fit-content;
  border-radius: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.heroButton p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.getTickets {
  text-decoration: none;
}

.heroButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}
