.checkoutInfo {
    max-width: 800px;
    margin: 0 auto;
}
  
.checkoutHeader {
    text-align: center;
    margin: 2rem 0 3rem;
}
  
.mainHeading {
    font-size: 2.5rem;
    color: #e9e2e2;
    font-weight: 600;
    letter-spacing: -0.025em;
}

.formSection {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #01031D;
    color: #e9e2e2;
}
  
.successMessage p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.successMessage .confirmationMessage{
  margin-bottom: 1.5rem
}
  
  .successIcon {
    font-size: 5rem;
    color: #4BB543;
    margin-bottom: 1.5rem;
  }
  
  .sectionHeading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #e9e2e2;
  }
  
  .formActions {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .successfulPaymentContainer {
    margin-top: 2rem;
  }
  
  .orderSummarySection,
  .paymentSummarySection {
    background-color: #0a0a2a;
    color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  
  .ticketSummaryCard {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #444;
    padding-bottom: 1rem;
  }
  
  
  .ticketCartImage img {
    width: 8rem;
    height: auto;
    border-radius: 8px;
  }
  
  .ticketCartDescription {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 0.25rem;
    padding-right: 9rem;
  }
  
  
  
  .priceSummary {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }
  
  .totalRow {
    font-weight: bold;
    font-size: 1.2rem;
    border-top: 1px solid #555;
    padding-top: 1rem;
  }
  
  .primaryButton {
    font-family: inherit;
    font-weight: 600;
    padding: 1.2rem 2.7rem;
    background-color: #4ea8de;
    color: white;
    border: none;
    border-radius: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .primaryButton:hover {
    background-color: #3b95cc;
  }
  
  .primaryButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.5);
  }
  
  .primaryButton:active {
    background-color: #2b6cb0;
  }
  @media (min-width: 600px) {
    .ticketCartImage img {
      width: 10rem;
    }
  
    .ticketCartDescription {
      padding:0;
      width: 100%;
      text-align: left;
    }
  
    .mainHeading {
      font-size: 2.75rem;
    }
  
    .sectionHeading {
      font-size: 1.75rem;
    }

    .formSection {
      padding: 1rem;
      margin-right: 1rem;
    }  
    .primaryButton {
      font-size: 1.1rem;
      padding: 1rem 2.5rem;
    }
  
    .priceSummary {
      font-size: 1.05rem;
    }
  }
  
  /* Adjustments for desktops and larger screens */
  @media (min-width: 900px) {
    .checkoutInfo {
      max-width: 1000px;
      padding: 0 2rem;
    }
    .formSection {
      padding: 3rem;
    }
  
    .ticketSummaryCard {
      gap: 1.25rem;
    }
  
    .ticketCartDescription {
      width: 100%;
      padding:0;
      text-align: left;
      margin-top: 1rem;
    }
  
    .priceSummary {
      font-size: 1.1rem;
      flex-direction: column;
      align-items: flex-start;
    }
    .primaryButton {
      font-size: 1.2rem;
      padding: 1.2rem 3rem;
    }
  }
  
  