span{
    font-size: 3rem;
}
#section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin :0;
}
#b1t_image{
    width: 50%;
    height: 50%;
    padding: 1rem;
}
#section p{
    font-size: 1.5rem;
    padding-left: 5rem;
}
.test{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin :0;
}

