.cartElementsContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.cartElement {
  display: flex;
  padding-top: 1rem;
  margin-bottom: 3rem;
  border-top: 0.5px rgba(222, 222, 222, 0.656) solid;
}

.cartElement img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.ticketCartDescription {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 1rem;
}
.cartContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticketCartDescription p {
  margin: 0.5rem 0;
}

.ticketCartDescription .important {
  font-weight: 500;
}

.ticketCartDescription .description {
  font-weight: 300;
  color: rgb(207, 207, 207);
}

.emptyCartMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  text-align: center;
}

.emptyCartMessage p {
  font-size: 1.2rem;
  color: #888;
}
