.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch; 
  }

  .border {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4rem 0;
  }

  .border span{
    font-size: 2rem;
  }
  
  .border::before, .border::after {
    content: '';
    flex: 1;
    border-top: 1px solid rgb(255, 94, 0);
  }
  
  .border::before {
    margin-right: 1rem;
  }
  
  .border::after {
    margin-left: 1rem;
  }
  
  .ticketBox {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 94, 0);
    border-radius: 10px;
    overflow: hidden;
    flex: 1 1 300px;
    max-width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 100%;
  }
  
  .ticketBox:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }
  
  .ticketTitle {
    background-color: #000110;
    color: rgb(255, 94, 0);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .ticketContent {
    background: linear-gradient(to bottom left, rgb(251, 120, 32), rgb(211, 77, 0));
    color: black;
    padding: 1.5rem;
    text-align: center;
  }
  
  .ticketContent p {
    margin: 1rem 0;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    border-bottom: 0.6px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  h2 {
    text-align: center;
    margin-top: 2rem;
  }