span{
    font-size: 3rem;
}
#section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin :0;
    padding: 10rem;
    gap: 10rem;
}
#b1t_image{
    width: 40%;
    height: 30%;
    border-radius: 2rem;
    object-fit: cover;
}
#section p{
    font-size: 1.5rem;
    padding-left: 5rem;
}
.test{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin :0;
}

