---
import "./src/styles/heroBanner.css";
import { Image } from "astro:assets";
import bigLogo from "./src/images/bigLogo.png";
import downArrow from "./src/images/downArrow.png";
---

<section class="heroBanner">
  <video autoplay loop muted plays-inline class="backVideo">
    <source src="/src/images/bigVideo.mp4" type="video/mp4" />
  </video>

  <div class="heroContent">
    <div class="bigLogoContainer">
      <Image src={bigLogo} alt="logo" id="bigLogo" />
    </div>
    <div class="heroText">
      <h1>LVIV 2025</h1>
      <p id="bigTitle">The Heart of CS in UA</p>

      <div class="shortBulletPoints">
        <p>16 Elite Teams</p>
        <p>3 Days of Competition</p>
        <p>$1,000,000</p>
      </div>

      <div class="longBulletPoints">
        <p id="date">June 27–29, 2025</p>
        <p id="place">Arena Lviv Stadium, Ukraine</p>
        <p id="startDate">Action Begins: June 27th</p>
      </div>

      <a href="#ticketsSection" class="getTickets">
        <div class="heroButton">
          <p>Get Tickets</p>
        </div>
      </a>

      <a href="#tournamentDescription"
        ><Image src={downArrow} alt="downArrow" id="downArrow" /></a
      >
    </div>
  </div>
</section>
