---
import "./src/styles/ticketsSection.css";
---

<div class="border" id="ticketsSection">
  <span>Types of tickets:</span>
</div>
<div class="bigContainer">
  <div class="container">
    <div class="ticketBox">
      <div class="ticketTitle">1-Day Ticket</div>
      <div class="ticketContent">
        <p><i class="fas fa-dollar-sign"></i> 65</p>
        <p><i class="fas fa-chair"></i> Seating in the upper ring</p>
        <p><i class="fas fa-ticket-alt"></i> DH Festival Ticket</p>
        <p><i class="fas fa-users"></i> Access to CGT Fan Zone</p>
      </div>    
    </div>

    <div class="ticketBox">
      <div class="ticketTitle">3-Day Ticket</div>
      <div class="ticketContent">
        <p><i class="fas fa-dollar-sign"></i> 109</p>
        <p><i class="fas fa-chair"></i> Seating in the Infield</p>
        <p><i class="fas fa-ticket-alt"></i> DH Festival Ticket</p>
        <p><i class="fas fa-users"></i> Access to CGT Fan Zone</p>
      </div>
    </div>

    <div class="ticketBox">
      <div class="ticketTitle">Fan Zone Ticket</div>
      <div class="ticketContent">
        <p><i class="fas fa-dollar-sign"></i> 309</p>
        <p><i class="fas fa-glass-cheers"></i> Free Beverages</p>
        <p><i class="fas fa-users"></i> Close arena view</p>
        <p><i class="fas fa-pen"></i> Free autograph sessions</p>
      </div>     
    </div>   
  </div>
  <div class="ctaContainer">
    <a href="/tickets" class="sectionButton">
      <i class="fas fa-ticket-alt"></i> Buy Tickets
    </a>
  </div> 
</div>
