---
import '../styles/aboutUs.css'
import { Image } from 'astro:assets';
import creators from '../images/faze.jpg'
---

<div class="content">
    <div class="aboutUsText">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione perspiciatis reprehenderit consectetur? Atque quas veniam doloremque, reprehenderit quibusdam ab obcaecati est, similique incidunt deserunt unde culpa quo ipsa accusantium aut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequatur exercitationem a accusamus blanditiis natus, dolorum nemo ullam ipsum soluta, rerum provident nostrum quod suscipit sit saepe! A, excepturi tempora!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatibus laboriosam sit, exercitationem cum architecto nulla numquam soluta ad beatae aut. Amet, molestias eligendi. Ea molestias natus beatae dolores accusamus.</p>
    </div>
    <div class="AboutUsPhoto">
        <Image src={creators} alt= "photo of creators"></Image>
    </div>
</div>