---
import '../styles/aboutUs.css'
import { Image } from 'astro:assets';
import creators from '../images/authorsPhoto.jpg';
---

<div class="content">
    <div class="aboutUsText">
        <p>Hi, my name is Arsen, and I am from Ukraine. My hobbies are going to the gym and watching football. I find going to the gym a great way to relieve stress and stay healthy, and I'm a big fan of the tactical side of football – I love analyzing different strategies and watching my favorite teams play. I chose to study computer science because I was interested in technologies from a very young age. I've always been fascinated by how things work, especially when it comes to computers and software. Moreover, when I was about 13 years old, I read a book about Python and I really liked it. It was my first real introduction to programming, and I found the logic and problem-solving aspects of it incredibly engaging. At that moment, I decided that I would be studying computing science in the future as well. The book opened up a whole new world for me, and I started experimenting with coding in my spare time.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequatur exercitationem a accusamus blanditiis natus, dolorum nemo ullam ipsum soluta, rerum provident nostrum quod suscipit sit saepe! A, excepturi tempora!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatibus laboriosam sit, exercitationem cum architecto nulla numquam soluta ad beatae aut. Amet, molestias eligendi. Ea molestias natus beatae dolores accusamus.</p>
    </div>
    <div class="AboutUsPhoto">
        <Image src={creators} alt= "photo of creators"></Image>
    </div>
</div>