---
import { Image } from "astro:assets";
import FullLogo from "../images/logoFull.jpg";
import HamburgerMenu from "./reactComponents/HamburgerMenu.jsx";
import CartIcon from "../components/reactComponents/CartIcon.jsx";
---

<header>
  <nav class="navContainer">
    <div class="logoContainer">
      <a href="/"><Image src={FullLogo} alt="logo" class="logoImg" /></a>
    </div>
    <ul class="navigation">
      <li>
        <ul class="mainNav">
          <HamburgerMenu client:load />
          <div class="navLinks">
            <li><a href="/">Home Page</a></li>
            <li><a href="/AboutUs">About Us</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/ContactUs">Contact Us</a></li>
          </div>
        </ul>
      </li>
      <li>
        <CartIcon client:load />
        <!-- <ul class="tickets">
          <li><a href="/tickets">Get Tickets</a></li>
        </ul> -->
      </li>
    </ul>
  </nav>
</header>

<div class="hidden" id="menuOverlay">
  <div class="menu-content">
    <nav>
      <a href="/">Home Page</a>
      <a href="/AboutUs">About Us</a>
      <a href="/gallery">Gallery</a>
    </nav>
  </div>
</div>

<script>
  import { ticketsStorage } from "../scripts/ticketsStorage";

  const openButton = document.querySelector(".hamburgerMenu");
  const menuOverlay = document.getElementById("menuOverlay");
  const header = document.querySelector("header");
  const body = document.querySelector("body") as HTMLBodyElement;

  openButton?.addEventListener("click", () => {
    menuOverlay?.classList.toggle("active");
    if (menuOverlay) {
      menuOverlay.style.top = `${header?.offsetHeight}px`;
    }
    if (menuOverlay?.classList.contains("active")) {
      body.style.overflow = "hidden";
    } else {
      body.style.overflow = "auto";
    }
  });

  header!.style.transition = "height 0s";
  header!.classList.add("visible");

  if (window.location.pathname === "/") {
    header!.style.transition = "height 0.3s ease";
    header!.classList.remove("visible");
    window.addEventListener("scroll", () => {
      const header = document.querySelector("header");
      const scrollPosition = window.scrollY;

      if (scrollPosition > 750) {
        header!.classList.add("visible");
      } else {
        header!.classList.remove("visible");
      }
    });
  }
</script>
