---
import '../styles/map.css'
const width = '100%'
const height = '400px'
---

<div class="map-container">
    <span class="ticketHeading">Event Location</span>
    <div class="map-wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.88432110713!2d24.02486362706327!3d49.774818645965894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7c45ad648ef%3A0xf15582fcd2b48f5b!2sArena%20Lviv!5e0!3m2!1sen!2sie!4v1746628669576!5m2!1sen!2sie" width={width} height={height} style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="location-details">
        <div class="detail-item">
          <i class="fas fa-map-marker-alt"></i>
          <span>Arena Lviv, Stryjska St, 199, Lviv, Ukraine</span>
        </div>
        <div class="detail-item">
          <i class="fas fa-calendar-alt"></i>
          <span>June 27-29, 2025</span>
        </div>
        <div class="detail-item">
            <i class="fas fa-directions"></i>
            <a href="https://goo.gl/maps/YourCustomLink" target="_blank" rel="noopener noreferrer">Get Directions</a>
          </div>
        </div>
</div>