---

---

<span>Types of tickets:</span>
<div class="ticketBox">
    <p>1-Day Ticket</p>
    <p>$65</p>
    <p>Seating in the upper ring</p>
    <p>DH Festival Ticket</p>
</div>
<div class="ticketBox">
    <p>3-Day Ticket</p>
    <p>$109</p>
    <p>Seating in the Infield</p>
    <p>DH Festival Ticket</p>
</div>
<div class="ticketBox">
    <p>Fan Zone Ticket</p>
    <p>$309</p>
    <p>Free Beverages</p>
    <p>Close seating to the arena</p>
    <p>Free autographs sessions</p>
</div>