---
import { Image } from "astro:assets";
import Ticket1 from "../images/ticket_image1.jpg";
import Ticket2 from "../images/ticket_image2.jpg";
import Ticket3 from "../images/ticket_image3.jpg";
import "../styles/ticketsPage.css";
---

<div class="ticketImages">
  <div class="ticketImage" data-id="ticket1">
    <div class="ticketWrapper">
      <Image src={Ticket1} alt="ticket1" />
      <p class="moreInfo">More Info</p>
    </div>
    <p class="ticketName">1 Day Ticket</p>
    <p class="ticketPrice">$65</p>
  </div>

  <div class="ticketImage" data-id="ticket2">
    <div class="ticketWrapper">
      <Image src={Ticket2} alt="ticket2" />
      <p class="moreInfo">More Info</p>
    </div>
    <p class="ticketName">3 Day Ticket</p>
    <p class="ticketPrice">$109</p>
  </div>

  <div class="ticketImage" data-id="ticket3">
    <div class="ticketWrapper">
      <Image src={Ticket3} alt="ticket3" />
      <p class="moreInfo">More Info</p>
    </div>
    <p class="ticketName">Fan Zone Ticket</p>
    <p class="ticketPrice">$309</p>
  </div>
</div>

<div class="ticketDescription" id="desc-ticket1">
  <button class="closePopup"><i class="fas fa-times"></i></button>
  <div class="popupContent">
    <h3>1 Day Ticket</h3>
    <p>This is a one-day access pass to all events.</p>
    <p>It includes:</p>
    <ul>
      <li>
        - <span class="ticketBold">Seating in the Upper Ring:</span> Enjoy a panoramic
        view of the entire tournament arena from the upper ring, providing a comprehensive
        perspective of the action-packed CS2 matches and strategies from a comfortable
        and elevated position.
      </li>
      <li>
        - <span class="ticketBold">DH Festival Ticket:</span> Experience the excitement
        of the DH Festival with this ticket, granting you access to an array of gaming-related
        events, interactive experiences, and exclusive behind-the-scenes content
        from the world of CS2 esports.
      </li>
      <li>
        - <span class="ticketBold">Access to CGT Fan Zone:</span> Step into the CGT
        Fan Zone, an exclusive area where fans can engage with CS2 content, meet
        fellow esports enthusiasts, participate in activities, and interact with
        your favorite teams and players in a fun, immersive environment.
      </li>
    </ul>
    <button class="buyTicket" id="buyTicket1">Add to Cart</button>
  </div>
</div>

<div class="ticketDescription" id="desc-ticket2">
  <button class="closePopup"><i class="fas fa-times"></i></button>
  <div class="popupContent">
    <h3>3 Day Ticket</h3>
    <p>Three full days of access to the entire tournament.</p>
    <p>It includes:</p>
    <ul>
      <li>
        - <span class="ticketBold">Seating in the Infield:</span> Enjoy the unique
        experience of sitting right in the heart of the action with exclusive infield
        seating, offering a close-up view of the competitors and event highlights.
      </li>
      <li>
        - <span class="ticketBold">DH Festival Ticket:</span> Gain entry to the exciting
        DH Festival with this ticket, giving you access to live entertainment, interactive
        exhibits, food vendors, and more, making it a full day of fun.
      </li>
      <li>
        - <span class="ticketBold">Access to CGT Fan Zone:</span> Dive into the CGT
        Fan Zone, an interactive space where fans can enjoy exclusive activities,
        meet other supporters, and engage with event-related content, creating an
        unforgettable fan experience.
      </li>
    </ul>
    <button class="buyTicket" id="buyTicket2">Add to Cart</button>
  </div>
</div>

<div class="ticketDescription" id="desc-ticket3">
  <button class="closePopup"><i class="fas fa-times"></i></button>
  <div class="popupContent">
    <h3>Fan Zone Ticket</h3>
    <p>Fan Zone ticket is premium ticket to the entire tournament</p>
    <p>It includes:</p>
    <ul>
      <li>
        - <span class="ticketBold">Free Beverages:</span> Enjoy a variety of complimentary
        drinks throughout the event, including refreshing sodas, coffee, tea, and
        water, available at designated beverage stations.
      </li>
      <li>
        - <span class="ticketBold">Close Arena View:</span> Experience an up-close
        and personal view of the action with premium seating offering an unobstructed
        and thrilling perspective of the arena, ensuring you don't miss a moment.
      </li>
      <li>
        - <span class="ticketBold">Free Autograph Sessions:</span> Meet your favorite
        players in person and get your autograph during exclusive sessions, completely
        free of charge.
      </li>
    </ul>
    <button class="buyTicket" id="buyTicket3">Add to Cart</button>
  </div>
</div>

<script is:inline>
  const tickets = document.querySelectorAll(".ticketImage");
  const closeButtons = document.querySelectorAll(".closePopup");

  tickets.forEach((ticket) => {
    ticket.addEventListener("click", () => {
      const id = ticket.getAttribute("data-id");
      const popUp = document.getElementById("desc-" + id);

      if (
        !popUp.classList.contains("active") &&
        !popUp.classList.contains("closing")
      ) {
        popUp.classList.add("active");
      }
    });
  });

  closeButtons.forEach((btn) => {
    btn.addEventListener("click", () => {
      const popUp = btn.closest(".ticketDescription");

      if (popUp.classList.contains("closing")) return;

      popUp.classList.add("closing");
      popUp.classList.add("inactive");

      popUp.addEventListener(
        "animationend",
        () => {
          popUp.classList.remove("active", "inactive", "closing");
        },
        { once: true }
      );
    });
  });

  document.addEventListener("keydown", function (event) {
    if (event.key === "Escape") {
      document
        .querySelectorAll(".ticketDescription.active")
        .forEach((popUp) => {
          if (popUp.classList.contains("closing")) return;

          popUp.classList.add("closing");
          popUp.classList.add("inactive");

          popUp.addEventListener(
            "animationend",
            () => {
              popUp.classList.remove("active", "inactive", "closing");
            },
            { once: true }
          );
        });
    }
  });
</script>
<script>
  import { Ticket, ticketsInformation } from "../components/ticketsStorage.js";
  import { ticketsStorage } from "../components/ticketsStorage.js";

  const buyButton1 = document.querySelector("#buyTicket1") as HTMLButtonElement;
  const buyButton2 = document.querySelector("#buyTicket2") as HTMLButtonElement;
  const buyButton3 = document.querySelector("#buyTicket3") as HTMLButtonElement;

  function handlePurchase(button: HTMLButtonElement) {
    const currentTicketInformation = ticketsInformation.find(
      (ticket) => ticket.id === button.id
    );
    if (currentTicketInformation) {
      addNewTicket(
        currentTicketInformation.name,
        currentTicketInformation.price
      );
    }
  }

  buyButton1?.addEventListener("click", () => handlePurchase(buyButton1));
  buyButton2?.addEventListener("click", () => handlePurchase(buyButton2));
  buyButton3?.addEventListener("click", () => handlePurchase(buyButton3));

  function addNewTicket(name: string, price: number) {
    const newTicket = new Ticket(name, price);
    ticketsStorage.push(newTicket);
    console.log(ticketsStorage);
  }
</script>
