---
import '../styles/ticketHero.css'
---
<div>
    <div class="ticketHeroLogo">
        <span>IEM</span>
        <span>LVIV 2025</span>
    </div>
    <div class="ticketInfo">
        <span>Choose your ticket and buy it now!</span>
        <span>June 27-29 at Arene Lviv LIVE</span>
    </div>
</div>
